#page-orphanage{
    display: flex;
    min-height: 100vh;
}

main{
    flex: 1;
}

.images{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1.6rem;
    margin: 16px 40px 0;    
}

.images button{
    border: 0;
    background: none;
    height: 8.8rem;
    cursor: pointer;
    border-radius:2rem;

    overflow: hidden;
    opacity: .6;
    transition: opacity .2s;
}

.images button:hover, 
.images button.active{
    opacity:1;
}

.images button img{
    width:100%;
    height: 8.8rem;
    object-fit: cover;
}

.contact{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
}